.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 713px;
  height: 713px;
  margin: 60px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-style: italic;
  margin: 60px auto;
}.u-section-3 .u-sheet-1 {
  min-height: 658px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 110px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 0 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1108px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 120px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 41px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 49px;
}

.u-section-4 .u-image-1 {
  min-height: 593px;
  background-image: url("/images/Untitled_2023-Nov-10_03-47-53PM-000_CustomizedView26551971266_png_alpha.png");
  background-position: 45.97% 52.61%;
  background-size: auto 170%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 593px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 516px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-4 .u-text-3 {
  font-weight: bold;
  margin: 10px 0 0 135px;
}

.u-section-4 .u-icon-1 {
  width: 105px;
  height: 105px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -24px auto 0 0;
  padding: 21px;
}

.u-section-4 .u-text-4 {
  margin: -71px 0 0 135px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-4 .u-text-5 {
  font-weight: bold;
  margin: 10px 0 0 135px;
}

.u-section-4 .u-icon-2 {
  width: 105px;
  height: 105px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -24px auto 0 0;
  padding: 21px;
}

.u-section-4 .u-text-6 {
  margin: -71px 0 0 135px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-4 .u-text-7 {
  font-weight: bold;
  margin: 10px 0 0 135px;
}

.u-section-4 .u-icon-3 {
  width: 105px;
  height: 105px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -24px auto 0 0;
  padding: 21px;
}

.u-section-4 .u-text-8 {
  margin: -71px 0 0 135px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    font-weight: 500;
  }

  .u-section-4 .u-image-1 {
    min-height: 584px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-text-3 {
    margin-top: -170px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 11px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 41px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -170px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-4 .u-image-1 {
    min-height: 447px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 130px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 201px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -149px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 54px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 25px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 396px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 249px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 141px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 554px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 682px;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 30px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 339px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 400;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 343px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin: 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 339px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  margin: 0;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 690px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  margin: 32px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 96px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 340px;
  width: 320px;
  margin: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-custom-html-2 {
  height: auto;
  min-height: 340px;
  margin: 0 auto 0 20px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-custom-html-3 {
  height: auto;
  min-height: 340px;
  margin: 0 auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 253px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-6 .u-custom-html-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-6 .u-custom-html-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 180px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1428px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 569px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 358px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1009px;
}

.u-section-7 .u-gallery-1 {
  height: 745px;
  grid-gap: 17px 17px;
  margin-top: 210px;
  margin-bottom: 54px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1105px;
  }

  .u-section-7 .u-gallery-1 {
    height: 613px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1980px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1075px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 5113px;
  }

  .u-section-7 .u-gallery-1 {
    height: 3284px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3335px;
  }

  .u-section-7 .u-gallery-1 {
    height: 2099px;
  }
}